<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leokomarov.jamstreamer"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

   <application
        android:icon="@drawable/img_ic_launcher"
        android:label="@string/appName"
        android:allowBackup="true"
        android:theme="@style/android:Theme.Holo.Light"  >
        <activity
            android:name="com.leokomarov.jamstreamer.MainMenu"
            android:label="@string/appName" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="JamStreamer - Artists search"
            android:name="com.leokomarov.jamstreamer.artists.ArtistsSearch" >
        </activity>
        
        <activity
            android:label="JamStreamer - Artists found"
            android:name="com.leokomarov.jamstreamer.artists.ArtistsParser" >
        </activity>
        
        <activity
            android:label="JamStreamer - Albums by artist"
            android:name="com.leokomarov.jamstreamer.artists.AlbumsByArtist" >
        </activity>
        
        <activity
            android:label="JamStreamer - Tracks in album"
            android:name="com.leokomarov.jamstreamer.artists.TracksByAlbum" >
        </activity>
        
        <service
            android:enabled="true"
            android:label="JamStreamer - Audio player"
            android:name="com.leokomarov.jamstreamer.media_player.AudioPlayerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.leokomarov.jamstreamer.media_player.AudioPlayerService.action.PLAY"/>
            </intent-filter>
        </service>
        
        <activity
            android:label="JamStreamer - Audio player"
            android:name="com.leokomarov.jamstreamer.media_player.AudioPlayer" >
        </activity>
        
        <activity
            android:label="JamStreamer - Albums search"
            android:name="com.leokomarov.jamstreamer.albums.AlbumsSearch" >
        </activity>
        
        <activity
            android:label="JamStreamer - Albums found"
            android:name="com.leokomarov.jamstreamer.albums.AlbumsParser" >
        </activity>
        
        <activity
            android:label="JamStreamer - Tracks in album"
            android:name="com.leokomarov.jamstreamer.albums.AlbumsSingleItem" >
        </activity>
        
        <activity
            android:label="JamStreamer - Tracks found"
            android:name="com.leokomarov.jamstreamer.tracks.TracksSearch" >
        </activity>
        
        <activity
            android:label="JamStreamer - Tracks parser"
            android:name="com.leokomarov.jamstreamer.tracks.TracksParser" >
        </activity>
        
        <activity
            android:label="JamStreamer - Track"
            android:name="com.leokomarov.jamstreamer.tracks.TracksSingleItem" >
        </activity>
        
        <activity
            android:label="JamStreamer - Playlist"
            android:name="com.leokomarov.jamstreamer.playlist.PlaylistActivity" >
        </activity>
      
    </application>

</manifest>
