<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leokomarov.jamstreamer"
    android:installLocation="auto"
    android:versionCode="18"
    android:versionName="0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

   <application
        android:icon="@drawable/img_ic_launcher"
        android:label="@string/appName"
        android:allowBackup="true" 
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.leokomarov.jamstreamer.MainMenu"
            android:label="@string/appName" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="JamStreamer - Artist search"
            android:name="com.leokomarov.jamstreamer.searches.ArtistsSearch" >
        </activity>
        
        <activity
            android:label="JamStreamer - Artists"
            android:name="com.leokomarov.jamstreamer.searches.ArtistsParser" >
        </activity>
        
        <activity
            android:label="JamStreamer - Album search"
            android:name="com.leokomarov.jamstreamer.searches.AlbumsSearch" >
        </activity>
        
        <activity
            android:label="JamStreamer - Track search"
            android:name="com.leokomarov.jamstreamer.searches.TracksSearch" >
        </activity>

        <activity
            android:label="JamStreamer - Albums"
            android:name=".discography.albums.AlbumsActivity" >
        </activity>
        
        <activity
            android:label="JamStreamer - Tracks"
            android:name=".discography.tracks.TracksActivity" >
        </activity>
        
        <activity
            android:label="JamStreamer - Audio player"
            android:name="com.leokomarov.jamstreamer.audio_player.AudioPlayer" >
        </activity>
        
        <service
            android:enabled="true"
            android:label="JamStreamer - Audio player"
            android:name="com.leokomarov.jamstreamer.audio_player.AudioPlayerService"
            android:exported="false" >
        </service>

        <activity
            android:label="JamStreamer - Playlist"
            android:name="com.leokomarov.jamstreamer.playlist.PlaylistActivity" >
        </activity>
      
    </application>

</manifest>